{% extends "layout.html" %}

{% block content %}

<div class="container">

	    <div class="starter-template">

		            <h1>Bootstrap starter template</h1>

			            <p class="lead">Use this document as

				            a way to quickly start any new project.

					            </p>

						    	<form action="/login/" method="post"> {% csrf_token %}
										<table border="1">
										 Email <input type="email" name="email"><br>
										 Parola <input type="password" name="password"><br>
															    	            <input type="submit" value="Gönder">	    
																	    		</table>
																				</form>
																					{{ad}}
																					    </div>

</div>
{% endblock %}
